<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Shuffle homepage demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  
      <link rel="stylesheet" href="/static/css/style.css">

  
</head>

<body>
<a href="/logout" > Logout </a>

  <div class="container">
  <div class="row">
    <div class="col-12@sm">
      <h1>Shuffle homepage demo</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-4@sm col-3@md">
      <div class="filters-group">
        <label for="filters-search-input" class="filter-label">Search</label>
        <input class="textfield filter__search js-shuffle-search" type="search" id="filters-search-input" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12@sm filters-group-wrap">
      <div class="filters-group">
        <p class="filter-label">Filter</p>
        <div class="btn-group filter-options">
         {% for c in cat %}
          <button class="btn btn--primary" data-group="{{c}}">{{c}}</button>
         {% endfor %}
        </div>
      </div>
      <fieldset class="filters-group">
        <legend class="filter-label">Sort</legend>
        <div class="btn-group sort-options">
          <label class="btn active">
            <input type="radio" name="sort-value" value="dom" checked /> Default
          </label>
          <label class="btn">
            <input type="radio" name="sort-value" value="title" /> Title
          </label>
          <label class="btn">
            <input type="radio" name="sort-value" value="date-created" /> Date Created
          </label>
        </div>
      </fieldset>
    </div>
  </div>
</div>

<div class="container">
  <div id="grid" class="row my-shuffle-container">
        {%for a in assets %}
    <figure class="col-3@xs col-4@sm col-3@md picture-item" data-groups='["{{a["sg_category"]}}"]' data-date-created="2017-04-30" data-title="{{a["code"]}}">
      <div class="picture-item__inner">
        <div class="aspect aspect--16x9">
          <div class="aspect__inner">
            <a href="/asset/{{a["id"]}}" > 
            <img src="{{a["image"]}}"
              alt="{{a["code"]}}" />
            </a>
          </div>
        </div>
        <div class="picture-item__details">
          <figcaption class="picture-item__title">{{a["code"]}}</figcaption>
          <p class="picture-item__tags hidden@xs">{{a["sg_category"]}}</p>
        </div>
      </div>
    </figure>
  {% endfor %}
    <div class="col-1@sm col-1@xs my-sizer-element"></div>
  </div>
</div>
  <script src='/static/shuffle.js'></script>
    <script  src="/static/js/index.js"></script>

</body>

</html>
